<h1></h1>
<div class="form-inputs"></div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Editing Driver Profile</h4>
    <h6 class="card-subtitle"></h6>
<%= render 'form', driver_profile: @driver_profile %>

<%= link_to 'Show', @driver_profile %> |
<%= link_to 'Back', driver_profiles_path %>
