<h1>Editing Terminal</h1>

<%= render 'form', terminal: @terminal %>

<%= link_to 'Show', edit_app_setting_terminal_path(@app_setting, @terminal) %> |
<%= link_to 'Back', app_setting_terminals_path %> 
